
.japaneseQuizContainer {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.multipleChoiceContainer {
  display: flex;
  justify-content: center;   /* Center the buttons horizontally */
  align-items: stretch;
  gap: 1.5rem;                /* Space between the buttons */
  animation: slideFadeIn 0.4s ease-out; /* On site load fade in */
}

.multipleChoiceButton {
  height: auto !important;    /* ignores parent */
  word-wrap: break-word;
  white-space: normal;
  flex: 1;
  min-width: 120px;
  text-align: center;
  background-color: #1a1a1a;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
}

.japaneseQuizContainer h2 strong {
  font-size: 2rem;
  font-weight: 500;
  -webkit-text-stroke: 0.2px;
  letter-spacing: 0.05em;
  font-family: 'Noto Sans JP';
}

.feedbackJp {
  font-size: 1.7rem;
  font-weight: 250;
  -webkit-text-stroke: 0.2px;
  letter-spacing: 0.05em;
  font-family: 'Noto Sans JP';
}


@media (max-width: 500px) {
  .multipleChoiceContainer {
    flex-direction: column;
    gap: 0rem;
  }
  .multipleChoiceButton {
    min-width: 200px;
  }
  .japaneseQuizContainer h2 {
    font-size: 1.5rem;
  }
  .japaneseQuizContainer strong {
    font-size: 2rem;
  }
}