

.pronounTag {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.4rem 0.75rem;
  color: var(--text-color-blue);
  max-width: 60px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  line-height: 0.8;
}

.verbInputRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Vertical alignment */
  justify-content: center;
}

.textInput {
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.textInput:focus {
  outline: none;
  border-color: var(--focus);
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

.submitButton {
  min-width: 100px;
  text-align: center;
  height: 44px;
}

@media (min-width: 1000px) {
  .verbInputRow {
    flex-wrap: nowrap; /* force same line on desktop */
  }
}


@media (max-width: 500px) {
  .textInput {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  width: 68%;
  }
  .pronounTag {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}